[submodule "resources/GazeboRosPackages/gazebo2rviz"]
	path = resources/GazeboRosPackages/gazebo2rviz
	url = https://github.com/Roboy/gazebo2rviz.git
[submodule "resources/GazeboRosPackages/ros_controllers"]
	path = resources/GazeboRosPackages/ros_controllers
	url = https://github.com/shadow-robot/ros_controllers.git
[submodule "resources/GazeboRosPackages/universal_robot"]
	path = resources/GazeboRosPackages/universal_robot
	url = https://github.com/Roboy/universal_robot.git
