<launch>
  <arg name="gui" default="true"/>
  <arg name="start_gazebo" default="false"/>
  <arg name="limited" default="false"/>
  <arg name="paused" default="false"/>
  <arg name="gzweb" default="false"/>
  <arg name="verbose" default="false"/>

  <param name="robot_description" command="$(find xacro)/xacro '$(find fh_desc)/model.urdf'" />
  <include file="$(find smart_grasp_moveit_config)/launch/move_group.launch"/>

  <include file="$(find gazebo2rviz)/launch/gazebo2moveit.launch">
      <env name="GAZEBO_MODEL_PATH" value="/home/missxa/NRP/GazeboRosPackages/src/://home/missxa/NRP/GazeboRosPackages/src/universal_robot:~/.gazebo/models:${GAZEBO_MODEL_PATH}"/>
      <env name="MESH_WORKSPACE_PATH" value="/home/missxa/NRP/GazeboRosPackages/src/"/>
  </include>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

</launch>
